@font-face {
    font-family: roboto;
    src: url(Fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
*{
    font-family: roboto;
}
.bTn{
    border-color: rgba(94, 59, 238, 1);
    color: rgba(94, 59, 238, 1);
    
}
.bTn:hover{
    color: #fff;
    background:  rgba(94, 59, 238, 1);
}
.clr{
    color: rgba(40, 41, 56, 1);
    font-weight: bold;

}
.clR{
    color: rgba(28, 30, 83, 1);

}
.clrchng{
    color: rgba(94, 59, 238, 1);
}
.headbtn button{
    background: rgba(94, 59, 238, 1);
    color: #fff;
}
    

.bt:hover{
     color: rgba(94, 59, 238, 1);
     background: #00000022;
 
    }
.cntnrclr{
    background: rgb(245, 252, 255,1);

}
.card-title{
    color: rgba(40, 41, 56, 1);
    font-size: 26px;
    font-weight: bold;


}
.btm{
    border-bottom: 1px solid rgba(0, 0, 0, 0.61);
}
.crd img{
    width: 100px;
    background: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.1);

}
.crd{
    background: rgba(245, 252, 255, 1);
    border: none;

}
.projectpic{
    box-shadow: 0px 5.33px 32px 0px rgba(0, 0, 0, 0.15);
   
}
.card-footer{
    border: none;
}
.card-footer img{
    width: 120px;
}
.brdr{
    border-color: rgba(0, 107, 106, 1);
    padding: 0 40px;
    background: rgba(245, 252, 255, 1);
}
.brdr p{
    font-size: 12px;
}
.imag img{
    width: 100px;
    padding: 20px 0 20px 0;

}
.avatar img{
    width: 150px;
    margin-top: 20px;

}

.btn button{
    background: rgba(94, 59, 238, 1);
    padding: 10px 30px;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.brd input{
 border: 1.33px solid rgba(94, 59, 238, 1);
 border-radius: 5px;
 
}
.brd select{
 border: 1.33px solid rgba(94, 59, 238, 1);
 border-radius: 5px;
 
}
.brd textarea{
 border: 1.33px solid rgba(94, 59, 238, 1);
 border-radius: 5px;
 
}
.social a img{
    width: 30px;
}